/* You can add custom CSS and extend Boostrap styles in this file. Remember, Bootstrap is just CSS at the end of the day! */
/* COLOR BASE DARK MODE */
/* BG: #000000 */
/* label: #ffffff */
/* labelSec: #8f8e93 */
/* labelThird: #474749 */
/* labelQuad: #252527 */

* {
  max-width: 100vw;
  overflow-x: hidden;
}

html,
body {
  box-sizing: border-box;
  background-color: #090b09;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

#navBar {
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  position: absolute;
  z-index: 4;
  margin-top: 0;
  top: 0;
  right: 0;
  left: 0;
}

#navLinks {
  height: inherit;
  display: flex;
  gap: 4vw;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin-left: 2vw;
  font-size: clamp(1.2em, 1.6vw, 1.3em);
  font-weight: 500;
  padding: 0.6em;
  padding-right: 8vw;
  padding-left: 6vw;
}

#navLogo {
  margin-right: auto;
  margin-left: none;
}

#navLogo a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#toggleButton {
  transition: opacity 0.4s ease;
}

#navLinks div a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

#navToggle {
  position: absolute;
  right: 2vw;
  top: 0.4em;
}

#navToggle #navToggleButton {
  border: none;
  background-color: inherit;
}

#navToggle #navToggleButton i {
  color: white;
  font-size: 1.4em;
  transition: 0.3s ease-in-out;
}

#navLinks div#navLogo a svg {
  transition: 0.3s ease-in-out;
}

#navToggle #navToggleButton i:hover,
#navLinks div#navLogo a svg:hover {
  color: rgb(48, 209, 88);
  font-weight: bold;
}

#hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#heroImage {
  /* credit: https://unsplash.com/photos/green-ferns-on-a-black-background-hnysCJrPpkc?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash */
  background: url(./img/hero3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateZ(0);
  z-index: 1;
}

#heroImage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: linear-gradient(
    rgba(9, 11, 9, 0.2),
    rgba(9, 11, 9, 0),
    rgba(0, 0, 0, 0),
    rgba(9, 11, 9, 0),
    rgba(9, 11, 9, 1)
  );
  z-index: 2;
}

#heroContent {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 3;
}

#heroText {
  color: white;
  min-height: 25vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#heroIcon {
  padding: 1em;
  background-color: red;
  clip-path: circle();
}

.greenHover {
  cursor: default;
  transition: 0.3s ease-in-out;
}

.greenHover:hover {
  color: rgb(48, 209, 88) !important;
  font-weight: bold !important;
}

.greenHoverStatic {
  cursor: default;
  color: rgb(48, 209, 88) !important;
  font-weight: bold !important;
}

a.greenHover {
  cursor: pointer !important;
}

#heroTextContainer {
  width: 100%;
}

#heroTitle {
  font-weight: 500;
  font-size: clamp(3em, 3.6vw, 4.2vw);
}

#heroSubtitle {
  font-weight: 400;
  font-size: clamp(3.2em, 3.2vw, 4vw);
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.2em;
}

#slotEffect {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 1.2em;
  display: inline-block;
  min-width: 0;
  width: min-content;
}

.slotWord {
  position: absolute;
  opacity: 0;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
  transform: translateY(100%);
}

.slotWord.active {
  opacity: 1;
  position: relative;
  transform: translateY(0);
}

.slotWord.prev {
  transform: translateY(-100%);
  opacity: 0;
}

.wordAfterSlot {
  position: relative;
  height: 1.2em;
}

#heroTitle,
#heroSubtitle {
  text-align: left;
  padding: 0 6%;
}

.infoSection {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  padding-top: 10%;
}

.infoSection h1.greenHover {
  width: fit-content;
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
  font-size: clamp(2.6em, 3vw, 4vw);
}

#missionSection {
  position: relative;
}

.missionCol {
  display: flex;
  justify-content: center;
  align-items: center;
}

#missionText {
  padding: 5%;
}

#missionText div {
  width: 90%;
}

#missionSection div div img {
  width: 90%;
  max-width: 100%;
  height: auto;
  overflow-y: hidden;
}

.twoCol {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#projectList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
  justify-content: flex-start;
  width: 100%;
  padding: 5% 5%;
}

.projectCard {
  text-align: center;
  width: 80%;
  max-width: 900px;
  min-width: auto;
  min-height: 30vh;
  height: auto;
  border-radius: 1.5em;
  padding: clamp(2em, 10vw, 4em);
  font-size: clamp(1.2em, calc(0.2em + 1.2vw), calc(0.4em + 1.2vw));
  overflow: hidden;
  background-color: #181a1b;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.projectCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1.5em;
  padding: 10px; /* This creates the border width */
  background: rgb(0, 0, 0);
  background: rgb(209, 255, 98);
  background: -moz-linear-gradient(
    90deg,
    rgba(209, 255, 98, 1) 0%,
    rgba(40, 186, 77, 1) 50%,
    rgba(0, 255, 63, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(209, 255, 98, 1) 0%,
    rgba(40, 186, 77, 1) 50%,
    rgba(0, 255, 63, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(209, 255, 98, 1) 0%,
    rgba(40, 186, 77, 1) 50%,
    rgba(0, 255, 63, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d1ff62",endColorstr="#00ff3f",GradientType=1);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.projectCard:hover::before,
.projectCard:active::before {
  opacity: 1;
}

.projectCard:hover {
  transition: height 0.3s ease-in-out;
  transform-origin: center;
  transform: scale(1.05);
}

.projectCard::after {
  display: block;
  text-align: left;
  transition: 0.4s ease-in-out;
  content: "";
  color: #8f8e93;
  opacity: 0;
  height: 0;
  visibility: hidden;
  position: relative;
  transform: translateY(10%);
}

.projectCard:hover::after,
.projectCard:active::after {
  content: attr(data-card-info);
  opacity: 1;
  height: auto;
  visibility: visible; /* Make it visible */
  transform: translateY(0); /* Move it to its original position */
}

.projectCardIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2%;
  justify-content: flex-start;
  margin: 1% 0;
}

.projectCardIcons i {
  font-size: 1.2em;
  min-width: 1.2em;
}

#footerSection {
  background-color: #121612;
  height: 15vh;
}

/* Morph Card 
https://codepen.io/AlexZab/pen/GREpYqp*/
