/* You can add custom CSS and extend Boostrap styles in this file. Remember, Bootstrap is just CSS at the end of the day! */
/* COLOR BASE DARK MODE */
/* BG: #000000 */
/* label: #ffffff */
/* labelSec: #8f8e93 */
/* labelThird: #474749 */
/* labelQuad: #252527 */

html,
body {
  box-sizing: border-box;
  background-color: black;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

#navBar {
  background-color: #1e201e9c;
  backdrop-filter: blur(2px);
  height: auto;
  position: absolute;
  z-index: 4;
  margin-top: 0;
  top: 0;
  right: 0;
  left: 0;
}

#navLinks {
  height: inherit;
  display: flex;
  gap: 4vw;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin-left: 2vw;
  font-size: clamp(1.2em, 1.4vw, 1.3em);
  padding: 0.6em;
  padding-right: 8vw;
}

#navLogo {
  margin-right: auto;
}

#toggleButton {
  transition: opacity 0.4s ease;
}

#navLinks div a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

#navLinks div a:hover {
  color: rgb(48, 209, 88);
  font-weight: 600;
}

#navToggle {
  position: absolute;
  right: 2vw;
  top: 0.4em;
}

#navToggle #navToggleButton {
  border: none;
  background-color: inherit;
}

#navToggle #navToggleButton i {
  color: white;
  font-size: 1.4em;
  transition: 0.3s ease-in-out;
}

#navLinks div#navLogo a svg {
  transition: 0.3s ease-in-out;
}

#navToggle #navToggleButton i:hover,
#navLinks div#navLogo a svg:hover {
  color: rgb(48, 209, 88);
  font-weight: bold;
}

#hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#heroImage {
  background: url(./img/hero2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateZ(0);
  z-index: 1;
}

#heroImage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5),
    rgb(0, 0, 0, 1)
  );
  z-index: 2;
}

#heroContent {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 3;
}

#heroText {
  text-align: center;
  color: white;
  height: 25vh;
}

.greenHover {
  cursor: default !important;
  transition: 0.3s ease-in-out;
}

#heroText h1 {
  font-weight: 500;
}

#heroText h5 {
  font-weight: 400;
}

.greenHover:hover {
  color: rgb(48, 209, 88);
  font-weight: bold !important;
}

.infoSection {
  height: 100vh;
}

.infoSection h1.greenHover {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#missionSection {
  position: relative;
  margin-bottom: auto;
  z-index: 0;
}

#missionSection h1 {
  padding-bottom: 10vh;
}

#missionSection div div img {
  width: 40vw;
  height: auto;
  margin-bottom: 10vh;
  overflow-y: hidden;
}

#missionSection h1 {
  margin-bottom: 4vh;
}

.twoCol {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#projectList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  margin-top: 10vh;
  padding-left: 96px;
  padding-right: 96px;
}

.projectCard {
  text-align: center;
  width: 80%;
  max-width: 900px;
  min-width: auto;
  height: 30vh;
  border-radius: 1.5em;
  padding: clamp(2em, 10vw, 4em);
  font-size: clamp(1.2em, calc(0.2em + 1.2vw), calc(0.4em + 1.2vw));
  overflow: hidden;
  background-color: #181a1b;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.projectCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1.5em;
  padding: 10px; /* This creates the border width */
  background: rgb(0, 0, 0);
  background: rgb(209, 255, 98);
  background: -moz-linear-gradient(
    90deg,
    rgba(209, 255, 98, 1) 0%,
    rgba(40, 186, 77, 1) 50%,
    rgba(0, 255, 63, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(209, 255, 98, 1) 0%,
    rgba(40, 186, 77, 1) 50%,
    rgba(0, 255, 63, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(209, 255, 98, 1) 0%,
    rgba(40, 186, 77, 1) 50%,
    rgba(0, 255, 63, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d1ff62",endColorstr="#00ff3f",GradientType=1);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.projectCard:hover::before {
  opacity: 1;
}

.projectCard:hover {
  transition: height 0.3s ease-in-out;
  transform: scale(1.05);
  height: calc(30vh + 2em);
}

.projectCard::after {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease-in-out;
  content: "";
  color: #8f8e93;
  opacity: 0;
  height: 0; /* Start with height 0 */
  visibility: hidden; /* Keep hidden until hover */
  position: absolute; /* Position absolutely within the card */
  left: 10%; /* Align it to the left */
  right: 10%; /* Align it to the right */
  bottom: 20%; /* Align it to the bottom */
  transform: translateY(10%); /* Start slightly lower for effect */
}

.projectCard:hover::after {
  content: "AFTER";
  opacity: 1;
  visibility: visible; /* Make it visible */
  height: 20%; /* Set the desired height */
  transform: translateY(0); /* Move it to its original position */
}

#footerSection {
  background-color: #1e201e;
  height: 15vh;
}

/* Morph Card 
https://codepen.io/AlexZab/pen/GREpYqp*/
